:host {
  display: inline-block;
  width: 360px;
  position: relative;

  div.datepicker-container {
    position: absolute;
    border: lightgray thin solid;
    border-radius: 4px;

    div.top-line {
      display: flex;
      flex-flow: row nowrap;
      margin: 8px;
      input {
        display: block;
        width: 278px;
        flex: 10 0 10em;
        outline: none;
        border: none;
        font-size: 14px;
        padding: 0 8px;
      }
      mat-icon {
        flex: 0 0 1;
        &.gray {
          color: #acb5be;
        }
      }
    }

    div.place-holder {
      position: relative;
      z-index: 200;
      height: 354px;
      display: none;
      background-color: white;
    }
  }
}

:host-context(.open) {
  div.datepicker-container {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    div.place-holder {
      display: block;
    }
  }
}
