<div class="datepicker-container">
  <div class="top-line">
    <mat-icon svgIcon="calendar"
              (click)="toggleDatePicker()"></mat-icon>
    <input matInput [(ngModel)]="date"
           [matDatepicker]="picker" placeholder="Immediately">
    <mat-icon svgIcon="{{isDatepickerOpen ? 'up': 'down'}}"
              [ngClass]="isDatepickerOpen ? '' : 'gray'"
              (click)="toggleDatePicker()"></mat-icon>
  </div>
  <div class="place-holder">
    <mat-datepicker #picker [calendarHeaderComponent]="datePickerHeader"></mat-datepicker>
  </div>
</div>
