@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-datepicker-content.mat-datepicker-content {
  box-shadow: none;
}
.mat-calendar-body-cell-content.mat-calendar-body-selected {
  background-color: #2199f4;
  color: white;
}
.mat-calendar-body-cell-content {
  color: #acb5be;
}
